.get-started-page {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}

.header {
  background-color: white;
  width: 100%;
  height: 11%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.logo {
  width: 80%; 
  height: 60px;
  border-radius: 50%;


}
.navigation {
  display: flex;
}

.navigation .nav-link {
  margin-right: 1rem;
  text-decoration: none;
}




.nav-toggle {
  background-color: transparent;
  border: none;
  color: #333;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out; 
}

.nav-toggle:hover {
  color: #007bff; 
  transform: scale(1.1); 
}


.login-button,
.signup-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.login-button:hover,
.signup-button:hover {
  background-color: #45a049;
}

.video-container {

  width: 100%;
  height: auto;

}

.video-container video {
  width: 100%;
  height: auto;
  opacity: 0.9;
margin-top: 27rem;
}

.content {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;

}

.content h1 {
  margin-bottom: 1rem;
}

.content p{
  color: yellow;
  font-size: 20px;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-weight: bold;
}

.get-started-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.get-started-button:hover {
  background-color: #45a049;
}

.sidebar-nav {
  padding: 20px;
}

.sidebar-nav ul {
  list-style: none;
  padding: 0;
}

.sidebar-nav ul li {
  margin-bottom: 10px;
  transition: all 0.3s ease-in-out;
}

.sidebar-nav ul li a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
  transition: all 0.3s ease;
}

.sidebar-nav ul li:hover {
  transform: translateY(-3px); /* Move list item up on hover */
}

.sidebar-nav ul li a:hover {
  color: #007bff; /* Change color on hover */
}

/* Add hover effect on list items */
.sidebar-nav ul li:hover {
  background-color: #f4f4f4;
  border-radius: 5px;
}

.footer-wrapper {
  width: 100%;

  bottom: 0;
}


/* GetStarted.css */
.get-started-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Add any additional styling as needed */


@media only screen and (max-width: 600px) {
 .header{

  height: 45px;
 }


 .logo {
  width: 70%; 
  height: 40px;
  border-radius: 50%;


}

.login-button,
.signup-button {

  padding: 3px 12px;
  
}

.video-container  {

height: 800px;
margin-top: -335px;

}


.video-container video {
  width: 100vw; /* Stretch video to full width of viewport */
  height: 600px;
  opacity: 0.8;
}

.content {
  top: 20%; /* Adjusted position for smaller screens */
  max-width: 80%; /* Limit width for smaller screens */
}

.content h1 {
  font-size: 0.8rem; /* Adjusted font size for smaller screens */
  margin-bottom: 0.5rem;
  white-space: nowrap;
  font-weight: bold;
  text-shadow: 
  -1px -1px 0 #000,  
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

.content p {
  font-size: 1rem; /* Adjusted font size for smaller screens */
  margin: 0.5rem 0;
  text-shadow: 
  -1px -1px 0 #000,  
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

.get-started-button {
  padding: 8px 16px; /* Adjusted padding for smaller screens */
  font-size: 1rem;
  margin-top: 50px;
   /* Adjusted font size for smaller screens */
}



  }