

.popup-content {
  background: linear-gradient(0deg, rgba(40,44,52,1) 0%, rgba(17,0,32,.5) 100%);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-wrap: wrap;
  
  width: 1100px;
  margin-top: 450px;
  height: 130%;
  justify-content: space-between; 
  align-items: flex-start;
 
}

.popup-content p{

  font-size: 2rem;
}

#il{
display: flex;
  text-align: center;
  margin-right: 280px;
  align-items: center;
  justify-content: center;
  
color:#ffffff;

}

.card {
  flex: 1 1 calc(40% - 20px); 
  margin-right: 20px;
  margin-bottom: 10px;
  background-color: red;
  transition: box-shadow 0.3s ease;

  width: 200px;
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 255, 0.2), 0 6px 20px 0 rgba(0, 0, 255, 0.19); /* Add bluish shadow on hover */
}





.card-image img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
 
}

.card-content {
  text-align: center;
}

.card-content h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color:#c82333;
  margin-top: 8px;
}

.card-content p {
  font-size: 16px;
  margin-bottom: 10px;
}

.card-link {
  display: inline-block;
  padding: 6px 10px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-bottom: 5px;
}

.close-button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.close-button:hover {
  background-color: #c82333;
}


@media (max-width: 768px) {
  .popup-content {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: calc(50% - 20px);
  }
}

.close-button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 3px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 8px; 
  
  position: absolute;
  bottom: -1px; 
  left: 50%; 
  transform: translateX(-50%);
}

.close-button:hover {
  background-color: #c82333;
  
}



  





@media only screen and (max-width: 600px) {

  .popup-content{
  
    width: 360px;
    max-width: 160%;
    
    padding: 10px;
    display: flex;
    position: relative;
    align-items: flex-start;
    justify-self: flex-start;
    left: 0px;
    
    margin-left: -50px;

  }

}

@media (max-width: 768px) {
  .popup-content {
    flex-direction: column;
    align-items: center;
   
  }

  .card {
    max-width: 160px;
    background-color: #add8e6;
    height: auto;
    display: flex;
   
  }

  #il {
    top: 0;
    margin-right: 0;
    margin-left: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#cccccc;
  }


  .div1{

    display: flex;
    flex-direction: row;
  }
  .div2{

    display: flex;
    flex-direction: row;
  }

  .card h3{
    white-space: nowrap;
  }
}
.close-button{
  padding: 0.5px 6px;
  margin-top: 6px;
}

@media only screen and (max-width: 600px) {
  .popup-content {
    padding: 10px; /* Adjust padding */
  }

}