

.sinou{

  color: #ffffff;
}



.success-message {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4CAF50;
  color: white;
  padding: 15px 20px;
  border-radius: 5px;
  z-index: 999;
  animation: fadeOut 4s ease forwards;
}

@keyframes fadeOut {
  0% { opacity: 1; }
  90% { opacity: 1; }
  100% { opacity: 0; }
}




@media screen and (max-width: 768px) {
    .right-overlay-panel,
    .left-overlay-panel {
      width: 100%;
      padding: 0;
    }
  
    .overlay-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
  
    .overlay {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr;
      gap: 10px;
      position: relative;
      z-index: 1000;
    }
  
    .container {
      flex-direction: column;
      padding: 0 10px;
      width: 50%;
      max-width: 500px;
    }


    .log{

    width: 480px;

    }
  }
  