
@media only screen and (max-width: 768px) {
    .footer-column {
      width: 100%; 
      margin-bottom: 20px;
    }


    .socion{
display: flex;
flex-direction: row;
top: -50;
margin-top: 7rem;
gap: 10;
    }

.colnum{
    
      
      display: flex;
      font-size: 14px;
      justify-content: space-around;
    
}

.colnum-io{

    display: flex;
    font-size: 9px;
    white-space: nowrap;
    justify-content: space-around;

}


  }
  

  

